DEPLOYER_PRIVATE_KEY=
PROTOCOL_OWNER=

COLLATERAL_TOKEN=
DEBT_TOKEN=
COLLATERAL_FEED=
DEBT_FEED=

MAX_PRICE_AGE=3600
MIN_DEPOSIT=1000000
RESERVE_FACTOR_BPS=1000

MAX_LTV_BPS=7500
LIQUIDATION_THRESHOLD_BPS=8000
LIQUIDATION_BONUS_BPS=500

BASE_RATE_APR_BPS=100
SLOPE_BELOW_KINK_APR_BPS=654
SLOPE_ABOVE_KINK_APR_BPS=20000
KINK_UTILIZATION_BPS=8000

ANVIL_MNEMONIC=test test test test test test test test test test test junk

ORACLE_ADDRESS=
RATE_MODEL_ADDRESS=
POOL_ADDRESS=
VAULT_ADDRESS=
CONTROLLER_ADDRESS=
LIQUIDATION_MANAGER_ADDRESS=
LENS_ADDRESS=

COLLATERAL_PRICE=
DEBT_PRICE=
